<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title m-b-0">Your Transactions</h5>
        </div>
        <div style="background: rgb(250, 250, 250);" class="table-responsive">
          <table class="table">
            <thead class="thead-light">
            <tr>

              <th scope="col">Order Number</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody class="customtable">
            <tr *ngFor="let Transaction of Transactions; index as i">

              <td>{{transaction[orderNumber]}}</td>
              <td>{{transaction[date]| date:'dd/MM/yyyy'}}</td>
              <td>{{transaction[type]}}</td>
              <td>{{transaction[amount]}}</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
