
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




<!--<div style="display: flex;height: 100% ;background-color:#e0d3e3 ">-->
<!--<div style="background-color:#e0d3e3;width: 21%;height: 100% " class="sidebar-container">-->
<!--  <div style="margin-left: 30px;background-color: #e0d3e3;" class="sidebar-logo">-->
<!--    <img src="/assets/gieo.jpg" alt="">-->
<!--  </div>-->
<!--  <div style="height: 100%;background-color: #e0d3e3" class="sidebar-container">-->
<!--    <ul style="margin-left: 6px;font-size: x-large" class="sidebar-navigation">-->


<!--      <li style="margin-top: 180px;">-->
<!--        <a style="color: white" href="/dashboard">-->
<!--          <i class="fa fa-users" aria-hidden="true"></i> Transactions-->
<!--        </a>-->
<!--      </li>-->
<!--      <br>-->
<!--      <li>-->
<!--        <a style="color: white" href="/history">-->
<!--          <i class="fa fa-cog" aria-hidden="true"></i> History-->
<!--        </a>-->
<!--      </li>-->
<!--      <br>-->
<!--      <li>-->
<!--        <a style="color: white" href="/profile">-->
<!--          <i class="fa fa-info-circle" aria-hidden="true"></i> Profile-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->







<!--<div style="color: #050505;background-color: #e0d3e3;width: 79% ;height: 100%;margin-top: 50px;" >-->
<!--  <nav style="background: white;background-color: #e0d3e3;justify-content: center" class="navbar navbar-expand-lg navbar-dark dark d-lg-flex "> <a style="color: #050505;background-color: #e0d3e3" class="navbar-brand" href="#">Transactions <p style="color: #050505;background-color: #e0d3e3" class="text-muted pl-1">Welcome to your transactions</p> </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav ml-lg-auto">-->


<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <div style="margin-top: -1.5rem!important; padding-top: 0.5rem!important;" class="row mt-2 pt-2 mat-body mat-body-1 mat-typography">-->


<!--  <div class="d-flex justify-content-between align-items-center mt-3">-->

<!--  </div>-->
<!--  <div  style="background-color: #e0d3e3 ">-->
<!--    <div style="font-family: Roboto">-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr style="background-color: rgba(98,98,98,0.4)" >-->
<!--          <th style="color: black;width: 31%;" scope="col">Order No.</th>-->
<!--          <th style="color: black;width: 28%;" scope="col">Type</th>-->
<!--          <th style="color: black;width: 17%;" scope="col">Date</th>-->
<!--          <th style="color: black;text-align: -webkit-center" scope="col">Amount</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--    </div>-->
<!--    <div  *ngFor="let TransactionHistory of Transactionhistorys; index as i">-->
<!--      <div>-->
<!--        <table class="table">-->
<!--          <tr style="font-family: Roboto;" >-->

<!--            <th style="font: icon">{{TransactionHistory.id}}</th>-->

<!--            <br>-->

<!--            <br>-->

<!--            <td>{{TransactionHistory.type}}</td>-->


<!--            <br>-->
<!--            <br>-->

<!--            <td>{{TransactionHistory.date| date: 'dd/MM/yyyy'}}</td>-->
<!--            <br>-->
<!--            <br>-->

<!--            <td >{{TransactionHistory.amount}}$</td>-->



<!--          </tr>-->




<!--        </table>-->
<!--      <hr></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="d-flex justify-content-between align-items-center results"> <span style="color: black" class="pl-md-3">Showing trasactions</span>-->

<!--  </div>-->
<!--</div>-->
<!--</div>-->






<!--<-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<div style="background-color:#e0d3e3;width: 100%">
<div  >
  <div  class="w3-sidebar w3-bar-block" style="display:none;z-index:5;background-color: #a9a1c0;height: 100%;width: 80%" id="mySidebar">
    <button class="w3-bar-item w3-button w3-xxlarge" style=" margin-top: 30px;margin-left: 60%;" (click)="w3_close()">
      <mat-icon style="background-color: white">clear</mat-icon><i class="fa fa-angle-left"></i></button>
    <ul style="font-size: small;background-color: #a9a1c0;width: 60%;margin-left: 20px;" class="sidebar-navigation">


      <hr>
      <a style="color: black;margin-top: 5px;" href="/dashboard">
        <i class="fa fa-users" aria-hidden="true"></i> Transactions
      </a>
      <hr>
      <a style="color: black;margin-top: 5px;" href="/history">
        <i class="fa fa-cog" aria-hidden="true"></i> History
      </a>
      <hr>
      <a style="color: black;margin-top: 10px;" href="/profile">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Profile
      </a>
      <hr>
    </ul>
  </div>
</div>

<!-- Page Content -->
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div style="background-color:#e0d3e3 ">
  <button style="background-color:#e0d3e3 ;" class="w3-button  w3-xxlarge" (click)="w3_open()">&#9776;</button>
  <img style="margin-left: 65px;" src="/assets/gieo.jpg" alt="">
  <div class="w3-container">
    <div  class="w3-container" style="">
      <div style="background-color: #e0d3e3;" class="sidebar-logo">

        <br>
        <!-- main-content -->
        <div style="border-radius: 30px;width: 100%"><h2 style="">Transactions</h2>
           <p style="color: #050505;background-color: #e0d3e3" class="text-muted pl-1">Welcome to your transactions</p>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">


                </ul>
              </div>

            <div style="margin-top: -1.5rem!important; padding-top: 0.5rem!important;" class="row mt-2 pt-2 mat-body mat-body-1 mat-typography">


            <div class="d-flex justify-content-between align-items-center mt-3">

            </div>
            <div style="background-color: #e0d3e3;width: 100%;">
              <div style="font-family: Roboto">
                <table class="table">
                  <thead>
                  <tr style="background-color: rgba(98,98,98,0.4)" >
                    <th style="color: black;width: 31%;" scope="col">Order No.</th>
                    <th style="color: black;width: 28%;" scope="col">Type</th>
                    <th style="color: black;width: 17%;" scope="col">Date</th>
                    <th style="color: black;text-align: -webkit-center" scope="col">Amount</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div  *ngFor="let TransactionHistory of Transactionhistorys; index as i">
                <div>
                  <table class="table">
                    <tr style="font-family: Roboto;" >

                      <th style="font: icon">{{TransactionHistory.id}}</th>

                      <br>

                      <br>

                      <td>{{TransactionHistory.type}}</td>


                      <br>
                      <br>

                      <td>{{TransactionHistory.date| date: 'dd/MM/yyyy'}}</td>
                      <br>
                      <br>

                      <td >{{TransactionHistory.amount}}$</td>



                    </tr>




                  </table>
                <hr></div>
              </div>
            </div>



          </div>

          </div>
          </div>


              </div>
            </div>
          </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br><br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br><br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br><br>
  <br>


</div>














<!--<div style="background-color: #e0d3e3;">-->

<!--  <div class="w3-sidebar w3-bar-block w3-border-right sidebar" style="background-color: #a9a1c0;display: none" id="mySidebar">-->
<!--    <div style="display: flex; width:100%">-->
<!--      <div style="width:70%">-->

<!--      </div>-->
<!--      <div style="background-color: #a9a1c0">-->
<!--        <button class="w3-button w3-xlarge menu-btn" style=" margin-top: 30px;margin-left: 39px;" (click)="w3_close()">-->
<!--          <mat-icon>keyboard_arrow_left</mat-icon><i class="fa fa-angle-left"></i></button>-->

<!--      </div>-->
<!--    </div>-->

<!--    <ul style="font-size: small;background-color: #a9a1c0" class="sidebar-navigation">-->


<!--      <hr>-->
<!--      <a style="color: black;margin-top: 5px;" href="/dashboard">-->
<!--        <i class="fa fa-users" aria-hidden="true"></i> Transactions-->
<!--      </a>-->
<!--      <hr>-->
<!--      <a style="color: black;margin-top: 5px;" href="/history">-->
<!--        <i class="fa fa-cog" aria-hidden="true"></i> History-->
<!--      </a>-->
<!--      <hr>-->
<!--      <a style="color: black;margin-top: 10px;" href="/profile">-->
<!--        <i class="fa fa-info-circle" aria-hidden="true"></i> Profile-->
<!--      </a>-->
<!--   <hr>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <div style="width:100%;display: flex;background-color:#e0d3e3 " class="w3-teal;" color="none">-->

<!--    <div style="width:10%;display: flex;">-->

<!--      <button style="border-radius: 1px;height: 50px;width: 60px;background-color: white" class="w3-button w3-xlarge menu-btn" (click)="w3_open()" ><mat-icon>list</mat-icon><i-->
<!--        class="fa fa-angle-right"></i></button>-->
<!--    </div>-->
<!--  </div>-->
<!--<div style="margin-left: 12px;">-->
<!--<div style="background-color: #e0d3e3;margin-left: 10px;" class="sidebar-logo">-->
<!--  <img src="/assets/gieo.jpg" alt="">-->
<!--</div>-->
<!--<br>-->

<!--  <nav style="background-color: #e0d3e3;" >-->
<!--    <br>-->
<!--    <a style="color: #050505;background-color: #e0d3e3" class="navbar-brand" href="#">Transactions <p style="color: #050505;background-color: #e0d3e3" class="text-muted pl-1">Welcome to your transactions</p> </a>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav ml-lg-auto">-->


<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <div style="margin-top: -1.5rem!important; padding-top: 0.5rem!important;" class="row mt-2 pt-2 mat-body mat-body-1 mat-typography">-->


<!--  <div class="d-flex justify-content-between align-items-center mt-3">-->

<!--  </div>-->
<!--  <div  style="background-color: #e0d3e3 ">-->
<!--    <div style="font-family: Roboto">-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr style="background-color: rgba(98,98,98,0.4)" >-->
<!--          <th style="color: black;width: 31%;" scope="col">Order No.</th>-->
<!--          <th style="color: black;width: 28%;" scope="col">Type</th>-->
<!--          <th style="color: black;width: 17%;" scope="col">Date</th>-->
<!--          <th style="color: black;text-align: -webkit-center" scope="col">Amount</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--    </div>-->
<!--    <div  *ngFor="let TransactionHistory of Transactionhistorys; index as i">-->
<!--      <div>-->
<!--        <table class="table">-->
<!--          <tr style="font-family: Roboto;" >-->

<!--            <th style="font: icon">{{TransactionHistory.id}}</th>-->

<!--            <br>-->

<!--            <br>-->

<!--            <td>{{TransactionHistory.type}}</td>-->


<!--            <br>-->
<!--            <br>-->

<!--            <td>{{TransactionHistory.date| date: 'dd/MM/yyyy'}}</td>-->
<!--            <br>-->
<!--            <br>-->

<!--            <td >{{TransactionHistory.amount}}$</td>-->



<!--          </tr>-->




<!--        </table>-->
<!--      <hr></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class=" justify-content-between align-items-center results;"> <span style="color: black" class="pl-md-3">Showing trasactions</span>-->

<!--  </div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
