
<div style="height: 100%;color: #050505" class="wrapper rounded">
  <nav style="background: white" class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"> <a style="color: #050505;background: white" class="navbar-brand" href="#">Transactions <p style="color: #050505;background: white" class="text-muted pl-1">Welcome to your transactions</p> </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item"> <a class="nav-link" href="#"> <span class="notify">Notifications</span> </a> </li>
        <li  class="nav-item "> <a  href="#"><span  class="fa fa-search"></span></a> <input type="search" class="dark" placeholder="Search" style="color: #050505;background: #d5d5d5;border-radius: 30px;"> </li>
      </ul>
    </div>
  </nav>
  <div class="row mt-2 pt-2">
    <div class="col-md-6" id="income">
      <div class="d-flex justify-content-start align-items-center">

        <p style="color: black" class="text mx-3">Income</p>
        <p style="color: black"  >$9,758.23</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-md-end align-items-center">

        <div style="color: black">Expense</div>
        &nbsp; &nbsp; &nbsp;
        <div style="color: black">$961.23</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <ul class="nav nav-tabs w-75">
      <li  class="nav-item"> <a style="background-color: #e8e8e8;color: black " class="nav-link active" href="#history">History</a> </li>
      <li class="nav-item"> <a style="color: black">Reports</a> </li>
    </ul> <button style="background-color: #e8e8e8;color: black; width: 150px;border-radius: 30px; " class="btn btn-primary">New Transaction</button>
  </div>
  <div style="background-color: #CDCDCD;margin-top: 20px;font-family: auto">
    <div  >
      <table class="table">
        <thead>
        <tr  >
          <th style="color: black;width: 27%;" scope="col">Activity</th>
          <th style="color: black;width: 26%;" scope="col">Mode</th>
          <th style="color: black;width: 26%;" scope="col">Date</th>
          <th style="color: black;text-align: -webkit-center" scope="col">Amount</th>
        </tr>
        </thead>
      </table>
    </div>
    <div *ngFor="let TransactionHistory of Transactionhistorys; index as i">
      <div >
        <table class="table">
          <tr>
            <th style="border: 3px solid" scope="row">{{TransactionHistory.id}}</th>
            <td style="border: 3px solid">{{TransactionHistory.type}}</td>
            <td style="border: 3px solid">{{TransactionHistory.date}}</td>
            <td style="border: 3px solid">{{TransactionHistory.amount}}</td>
          </tr>


        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center results"> <span class="pl-md-3">Showing<b class="text-white"> 1-7 0f 200 </b> trasactions</span>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>



  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
<!--  <table mat-table [dataSource]="Transactionhistorys" class="mat-elevation-z8">-->

<!--    &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--          The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="position">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let transaction">amount</td>-->
<!--    </ng-container>-->

<!--&lt;!&ndash;    &lt;!&ndash; Name Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="name">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> Name </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.name}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Weight Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="weight">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> Weight </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Symbol Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="symbol">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> Symbol </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;">{{row.amount}}</tr>-->
<!--  </table>-->






