
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<div *ngIf="width>1000" style="height: 100%;background-color: white">
  <div style="background-color:white;width: 100%">
    <div  >
      <div  class="w3-sidebar w3-bar-block" style="display:none;z-index:5;background-color: white;height: 100%;width: 15%" id="mySidebar">
        <div style="display:flex;"> <img style="margin-left: 10px;height: 84px;width: 158px;" src="https://www.gieonexar.com/resource/images/gieonexar-logo-tandem.PNG" alt="">
          <button class="w3-bar-item w3-button w3-xxlarge" style="height: 100px;" (click)="w3_close()">
            <mat-icon style="background-color: white;margin-left: 50%">clear</mat-icon><i class="fa fa-angle-left"></i></button></div>
        <ul style="font-size: medium;background-color: white;margin-left: 10px;font-family:  Arial, sans-serif" class="sidebar-navigation">


          <hr>
          <a style="color: black;margin-top: 5px;" href="/dashboard">
            <i class="fa fa-users" aria-hidden="true"></i> Transactions
          </a>
          <hr>
          <a style="color: black;margin-top: 5px;" href="/history">
            <i class="fa fa-cog" aria-hidden="true"></i> History
          </a>
          <hr>
          <a style="color: black;margin-top: 10px;" href="/profile">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Profile
          </a>
          <hr>
        </ul>
      </div>
    </div>

    <!-- Page Content -->
    <div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div style="background-color:white ">

      <img style="margin-left: 10px;height: 84px;width: 148px;" src="https://www.gieonexar.com/resource/images/gieonexar-logo-tandem.PNG" alt="">
      <br>
      <button style="background-color:white ;margin-top: 10px;" class="w3-button  w3-xxlarge" (click)="w3_open()">&#9776;</button>
      <div class="w3-container">
        <div  class="w3-container" style="">
          <div style="background-color: white;" class="sidebar-logo">

            <br>
            <!-- main-content -->
            <div style="border-radius: 30px;width: 100%"><h2 style="text-align: center"><b>Transactions</b></h2>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">


                </ul>
              </div>

              <div style="margin-top: -1.5rem!important; padding-top: 0.5rem!important;" class="row mt-2 pt-2 mat-body mat-body-1 mat-typography">


                <div class="d-flex justify-content-between align-items-center mt-3">

                </div>
                <div style="background-color: white;width: 100%;">
                  <div style="font-family:  Arial,sans-serif">
                    <table class="table">
                      <thead>
                      <tr style="background-color: rgba(0,0,0,0.87)" >
                        <th style="color: white;width: 31%;" scope="col"><b>Order No.</b></th>
                        <th style="color: white;width: 28%;" scope="col"><b>Type</b></th>
                        <th style="color: white;width: 17%;" scope="col"><b>Date</b></th>
                        <th style="color: white;text-align: -webkit-center" scope="col"><b>Amount</b></th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div  *ngFor="let TransactionHistory of Transactionhistorys; index as i">
                    <div>
                      <table class="table">
                        <tr style="font-family:  Arial,sans-serif;" >

                          <th style="font: icon;width: 30%;font-size: small">{{TransactionHistory[id]}}</th>

                          <br>

                          <br>

                          <td style="width: 29%">{{TransactionHistory[type]}}</td>


                          <br>
                          <br>

                          <td style="width: 28%">{{TransactionHistory[date]| date: 'dd/MM/yyyy'}}</td>
                          <br>
                          <br>

                          <td style="margin-left: 20px; " >{{TransactionHistory[amount]}}$</td>



                        </tr>




                      </table>
                      <hr></div>
                  </div>
                </div>



              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br><br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br><br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br><br>
    <br>


  </div>
</div>





<!--<-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<div *ngIf="width<=1000" style="background-color: white">
  <div style="background-color:white;">
    <div  >
      <div  class="w3-sidebar w3-bar-block" style="display:none;z-index:5;background-color: white;height: 100%;width: 70%" id="mySidebar">
        <div style="display:flex;"> <img style="margin-left: 10px;height: 84px;width: 158px;" src="https://www.gieonexar.com/resource/images/gieonexar-logo-tandem.PNG" alt="">
          <button class="w3-bar-item w3-button w3-xxlarge" style="height: 100px;" (click)="w3_close()">
            <mat-icon style="background-color: white;margin-left: 50%">clear</mat-icon><i class="fa fa-angle-left"></i></button></div>
        <ul style="font-size: medium;background-color: white;margin-left: 10px;font-family:  Arial, sans-serif" class="sidebar-navigation">


          <hr>
          <a style="color: black;margin-top: 5px;" href="/dashboard">
            <i class="fa fa-users" aria-hidden="true"></i> Transactions
          </a>
          <hr>
          <a style="color: black;margin-top: 5px;" href="/history">
            <i class="fa fa-cog" aria-hidden="true"></i> History
          </a>
          <hr>
          <a style="color: black;margin-top: 10px;" href="/profile">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Profile
          </a>
          <hr>
        </ul>
      </div>
    </div>

    <!-- Page Content -->
    <div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div style="background-color:white ">

      <img style="margin-left: 10px;height: 84px;width: 148px;" src="https://www.gieonexar.com/resource/images/gieonexar-logo-tandem.PNG" alt="">
      <br>
      <button style="background-color:white ;margin-top: 10px;" class="w3-button  w3-xxlarge" (click)="w3_open()">&#9776;</button>
      <div class="w3-container">
        <div  class="w3-container" style="">
          <div style="background-color: white;" class="sidebar-logo">

            <br>
            <!-- main-content -->
            <div style="border-radius: 30px;width: 100%"><h2 style="text-align: center"><b>Transactions</b></h2>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">


                </ul>
              </div>

              <div style="margin-top: -1.5rem!important; padding-top: 0.5rem!important;" class="row mt-2 pt-2 mat-body mat-body-1 mat-typography">


                <div class="d-flex justify-content-between align-items-center mt-3">

                </div>
                <div style="background-color: white;width: 100%;">
                  <div style="font-family:  Arial,sans-serif">
                    <table class="table">
                      <thead>
                      <tr style="background-color: rgba(0,0,0,0.87)" >
                        <th style="color: white;width: 31%;" scope="col"><b>Order No.</b></th>
                        <th style="color: white;width: 28%;" scope="col"><b>Type</b></th>
                        <th style="color: white;width: 17%;" scope="col"><b>Date</b></th>
                        <th style="color: white;text-align: -webkit-center" scope="col"><b>Amount</b></th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div  *ngFor="let TransactionHistory of Transactionhistorys; index as i">
                    <div>
                      <table class="table">
                        <tr style="font-family:  Arial,sans-serif;" >

                          <th style="font: icon;width: 30%;font-size: small">{{TransactionHistory[id]}}</th>

                          <br>

                          <br>

                          <td style="width: 29%">{{TransactionHistory[type]}}</td>


                          <br>
                          <br>

                          <td style="width: 28%">{{TransactionHistory[date]| date: 'dd/MM/yyyy'}}</td>
                          <br>
                          <br>

                          <td style="margin-left: 20px; " >{{TransactionHistory[amount]}}$</td>



                        </tr>




                      </table>
                      <hr></div>
                  </div>
                </div>



              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br><br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br><br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br><br>
    <br>


  </div>
</div>













<!--<div style="background-color: white;">-->

<!--  <div class="w3-sidebar w3-bar-block w3-border-right sidebar" style="background-color: #a9a1c0;display: none" id="mySidebar">-->
<!--    <div style="display: flex; width:100%">-->
<!--      <div style="width:70%">-->

<!--      </div>-->
<!--      <div style="background-color: #a9a1c0">-->
<!--        <button class="w3-button w3-xlarge menu-btn" style=" margin-top: 30px;margin-left: 39px;" (click)="w3_close()">-->
<!--          <mat-icon>keyboard_arrow_left</mat-icon><i class="fa fa-angle-left"></i></button>-->

<!--      </div>-->
<!--    </div>-->

<!--    <ul style="font-size: small;background-color: #a9a1c0" class="sidebar-navigation">-->


<!--      <hr>-->
<!--      <a style="color: black;margin-top: 5px;" href="/dashboard">-->
<!--        <i class="fa fa-users" aria-hidden="true"></i> Transactions-->
<!--      </a>-->
<!--      <hr>-->
<!--      <a style="color: black;margin-top: 5px;" href="/history">-->
<!--        <i class="fa fa-cog" aria-hidden="true"></i> History-->
<!--      </a>-->
<!--      <hr>-->
<!--      <a style="color: black;margin-top: 10px;" href="/profile">-->
<!--        <i class="fa fa-info-circle" aria-hidden="true"></i> Profile-->
<!--      </a>-->
<!--   <hr>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <div style="width:100%;display: flex;background-color:white " class="w3-teal;" color="none">-->

<!--    <div style="width:10%;display: flex;">-->

<!--      <button style="border-radius: 1px;height: 50px;width: 60px;background-color: white" class="w3-button w3-xlarge menu-btn" (click)="w3_open()" ><mat-icon>list</mat-icon><i-->
<!--        class="fa fa-angle-right"></i></button>-->
<!--    </div>-->
<!--  </div>-->
<!--<div style="margin-left: 12px;">-->
<!--<div style="background-color: white;margin-left: 10px;" class="sidebar-logo">-->
<!--  <img src="/assets/gieo.jpg" alt="">-->
<!--</div>-->
<!--<br>-->

<!--  <nav style="background-color: white;" >-->
<!--    <br>-->
<!--    <a style="color: #050505;background-color: white" class="navbar-brand" href="#">Transactions <p style="color: #050505;background-color: white" class="text-muted pl-1">Welcome to your transactions</p> </a>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav ml-lg-auto">-->


<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <div style="margin-top: -1.5rem!important; padding-top: 0.5rem!important;" class="row mt-2 pt-2 mat-body mat-body-1 mat-typography">-->


<!--  <div class="d-flex justify-content-between align-items-center mt-3">-->

<!--  </div>-->
<!--  <div  style="background-color: white ">-->
<!--    <div style="font-family: Roboto">-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr style="background-color: rgba(98,98,98,0.4)" >-->
<!--          <th style="color: black;width: 31%;" scope="col">Order No.</th>-->
<!--          <th style="color: black;width: 28%;" scope="col">Type</th>-->
<!--          <th style="color: black;width: 17%;" scope="col">Date</th>-->
<!--          <th style="color: black;text-align: -webkit-center" scope="col">Amount</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--    </div>-->
<!--    <div  *ngFor="let TransactionHistory of Transactionhistorys; index as i">-->
<!--      <div>-->
<!--        <table class="table">-->
<!--          <tr style="font-family: Roboto;" >-->


<!--            <th style="font: icon">{{TransactionHistory.id}}</th>-->

<!--            <br>-->

<!--            <br>-->

<!--            <td>{{TransactionHistory.type}}</td>-->


<!--            <br>-->
<!--            <br>-->

<!--            <td>{{TransactionHistory.date| date: 'dd/MM/yyyy'}}</td>-->
<!--            <br>-->
<!--            <br>-->

<!--            <td >{{TransactionHistory.amount}}$</td>-->



<!--          </tr>-->




<!--        </table>-->
<!--      <hr></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class=" justify-content-between align-items-center results;"> <span style="color: black" class="pl-md-3">Showing trasactions</span>-->

<!--  </div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
