@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
  padding: 1px;
  box-sizing: border-box

}

body {
  background-color: #777;
  font-family: 'Poppins', sans-serif
}

.wrapper {
  background-color: #ffffff;
  min-height: 100%;
  max-width: 100%;
  margin: 10px auto;
  padding: 20px 6px
}

.dark,
.input:focus {
  background-color: #222
}

.navbar {
  padding: -1.5rem 0.5rem
}

.navbar .navbar-brand {
  font-size: 30px
}

#income {
  border-right: 1px solid #bbb
}

.notify {
  display: none
}

.nav-item .nav-link .fa-bell-o,
.fa-long-arrow-down,
.fa-long-arrow-up {
  padding: 45px 45px;
  background-color: #444;
  border-radius: 50%;
  position: relative;
  font-size: 18px
}

.nav-item .nav-link .fa-bell-o::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffc0cb;
  right: 10px;
  top: 10px
}

.nav-item input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 3px 8px;
  width: 75%;
  color: #eee
}

.nav-item .fa-search {
  font-size: 18px;
  color: #bbb;
  cursor: pointer
}

.navbar-nav:last-child {
  display: flex;
  align-items: center;
  width: 40%
}

.navbar-nav .nav-item {
  padding: 0px 0px 0px 10px
}

.navbar-brand p {
  display: block;
  font-size: 14px;
  margin-bottom: 3px
}

.text {
  color: #bbb
}

.money {
  font-family: 'Lato', sans-serif
}

.fa-long-arrow-down,
.fa-long-arrow-up {
  padding-left: 12px;
  padding-top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 100;
  color: #28df99
}

.fa-long-arrow-up {
  color: #ffa500
}

.nav.nav-tabs {
  border: none
}

.nav.nav-tabs .nav-item .nav-link {
  color: #bbb;
  border: none
}

.nav.nav-tabs .nav-link.active {
  background-color: #222;
  border: none;
  color: #fff;
  border-bottom: 4px solid #fff
}

.nav.nav-tabs .nav-item .nav-link:hover {
  border: none;
  color: #eee
}

.nav.nav-tabs .nav-item .nav-link.active:hover {
  border-bottom: 4px solid #fff
}

.nav.nav-tabs .nav-item .nav-link:focus {
  border-bottom: 4px solid #fff;
  color: #fff
}

.table-dark {
  background-color: #222
}

.table thead th {
  text-transform: uppercase;
  color: #bbb;
  font-size: 12px
}

.table thead th,
.table td,
.table th {
  border: none;
  overflow: auto auto
}

td .fa-briefcase,
td .fa-bed,
td .fa-exchange,
td .fa-cutlery {
  color: #ff6347;
  background-color: #444;
  padding: 5px;
  border-radius: 50%
}

td .fa-bed,
td .fa-cutlery {
  color: #40a8c4
}

td .fa-exchange {
  color: #b15ac7
}

tbody tr td .fa-cc-mastercard,
tbody tr td .fa-cc-visa {
  color: #bbb
}

tbody tr td.text-muted {
  font-family: 'Lato', sans-serif;

}

tbody tr td .fa-long-arrow-up,
tbody tr td .fa-long-arrow-down {
  font-size: 12px;
  padding-left: 7px;
  padding-top: 3px;
  height: 20px;
  width: 20px
}

.results span {
  color: #bbb;
  font-size: 12px
}

.results span b {
  font-family: 'Lato', sans-serif
}

.pagination .page-item .page-link {
  background-color: #444;
  color: #fff;
  padding: 0.3rem .75rem;
  border: none;
  border-radius: 0
}

.pagination .page-item .page-link span {
  font-size: 16px
}

.pagination .page-item.disabled .page-link {
  background-color: #333;
  color: #eee;
  cursor: crosshair
}

@media(min-width:768px) and (max-width: 991px) {
  .wrapper {
    margin: auto
  }

  .navbar-nav:last-child {
    display: flex;

    justify-content: center;

  }

  .notify {
    display: inline
  }

  .nav-item .fa-search {
    padding-left: 10px
  }

  .navbar-nav .nav-item {
    padding: 0px
  }
}

@media(min-width: 300px) and (max-width: 767px) {
  .wrapper {
    margin: auto
  }

  .navbar-nav:last-child {
    display: flex;

    justify-content: center;
    width: 100%
  }

  .notify {
    display: inline
  }

  .nav-item .fa-search {
    padding-left: 10px
  }

  .navbar-nav .nav-item {
    padding: 0px
  }

  #income {
    border: none
  }
}

@media(max-width: 400px) {
  .wrapper {
    padding: 10px 15px;
    margin: auto
  }

  .btn {
    font-size: 12px;
    padding: 10px
  }

  .nav.nav-tabs .nav-link {
    padding: 0.5rem !important;
    margin-top: -1.5rem !important;
  }

  .mat-body, .mat-body-1, .mat-typography {
    font: 53 15px/30px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
  }

}
.vedio-wrapper {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  right: 0px;
}

.card {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 2px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 1px;
}

.menu-btn {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  display: flex;
  /* font-size: 13px; */
  padding: 0px;
  background-color: white;
  box-shadow: 2px;
  box-shadow: 2px 2px 2px lightgrey;
}

.icon {
  font-size: 15px;
  color: black;
}

.w3-sidebar {
  width: 317px;
}

.login {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  top: 10px;
  border: 1px solid #efefef;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sign-up {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  padding: 0px 20px;
  background-color: rgb(245 65 0);
  top: 10px;
  border-block-end-color: rgb(245 65 0);
  border-width: 0px;
  box-shadow: rgb(255 79 15) 0px 0px 0px 0px;
  animation: 1.5s ease 0s;
  height: 2.5rem;
  color: rgb(252 249 249);
  margin-left: 12px;
}

.input-search {
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 85%;
  font-size: 17px;
  font-weight: 700;
  border-radius: 20px;
  background-color: white;
  border: 1px solid white;
}

.search-container {
  border: 1px solid #bebebe;
  border-radius: 17px;
  background-color: white;
  width: 28%;
  margin-top: 6px;
  margin-left: 20px;
  padding: 3px;

}

.search-btn {

  background: white;
  color: rgb(15, 22, 31);
  border: none;
}



.gmhjCB {
  outline: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.1s ease;
  background: #FF4F0F;
  width: 62px;
  height: 62px;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 5px 7px rgba(0,0,38,0.16))
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1823px;
  margin-right: 89px;
}

.gXEBjO {
  position: relative;
  outline: none;
}
.VNLvN {
  overflow: hidden;
  color: rgb(15, 22, 31);
}
.edryW {
  position: relative;
  min-height: 100%;
}
.cskeVF {
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(243, 245, 246);
}
.eszHMa {
  width: auto;
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
}
.eszHMa {
  display: grid;
  grid-area: left / left / left / left;
  height: 100vh;
  overflow: hidden scroll;
  gap: 1.5rem;
  grid-template-rows: minmax(1px, 40px) minmax(1px, 1fr);
}
.fgNyh {
  margin: 0px;
//min-height: -webkit-fill-available;
  color: rgb(15, 22, 31);
  display: flex;
}
style attribute {
  margin: 0px;
  --loading-display: none;
}
html, body {
  font-family: 'Averta Std', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-size-adjust: 80%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.cardView{

  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #888;
}

.cardView:hover{
  background-color: skyblue;
  color: white;
  box-shadow: 3px 3px 3px #888;
  transition-duration: all 0.2s;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;

  z-index: 1;

}
.w3-container, .w3-panel {
width: 100%;
}
