<!--<div style="margin-left: 30px; margin-top: 20px;">-->
<!--  <button type="button" class="btn btn-dark"><a href="Transaction">Transactions</a></button>-->
<!--</div>-->
<div style="background-color: white;height: 100%;width: 100%">
<div style="margin-left: 50px;"><img src="https://www.gieonexar.com/resource/images/gieonexar-logo-tandem.PNG" alt=""></div>
<div style="height: 150px;" class="wrap cf">
  <div class="heading cf" style=";border-radius: 25px;height: 55px;">
    <h1 style="margin-left: 20px;width: 300px;" >My Cart</h1>
  </div>
  <div style="background-color: white">
  <div class="cart">
    <!--    <ul class="tableHead">
          <li class="prodHeader">Product</li>
          <li>Quantity</li>
          <li>Total</li>
           <li>Remove</li>
        </ul>-->
    <ul class="cartWrap">

      <li *ngFor="let product of products ; index as i" [ngClass]="i%2!=0?'items even':'items odd'">

        <div class="infoWrap">
          <div class="cartSection">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/macbook-air-gold-select-201810?wid=904&hei=840&fmt=jpeg&qlt=80&.v=1603332211000" alt="image" class="itemImg" />
            <p class="itemNumber">{{product[productId]}}</p>
            <h3>{{product[name]}}</h3>

            <p> <input type="text"  class="qty" placeholder="{{product[quantity]}}"/> x ${{product[price]}}</p>

            <!--            <p class="stockStatus"> In Stock</p>-->
          </div>


          <div class="prodTotal cartSection">
            <p>{{product[subTotal]}}</p>
          </div>
<!--          <div class="cartSection removeWrap">-->
<!--&lt;!&ndash;            <a href="#" class="remove">x</a>&ndash;&gt;-->
<!--          </div>-->
        </div>
      </li>

    </ul>
  </div>

  <!--  <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />-->
  <!--    <a href="#" class="btn"></a></div>-->

  <div class="subtotal cf">
    <ul>
      <!--      <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>-->

      <!--      <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>-->

      <!--      <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>-->
      <p>{{total}}</p>
      <li *ngFor="let transaction of transactions; index as i" class="totalRow final"><span style="color:black;height: 15px" class="label">Total</span><span style="color: black;height: 15px;" class="value">{{total}}</span></li>
      <button (click)="goToPayment(transactions)" class="totalRow"><a style="background-color: black;color: white;width: 160px;border-radius: 9px;font-family: Roboto"  class="btn continue"><b>Checkout</b></a></button>
    </ul>
  </div>
</div>
</div>
</div>
