<!--<link rel="stylesheet"-->
<!--      href="../../../../../../../Volumes/ESD-USB/10-08-2021/angular-bitcasino/src/app/login/login.component.scss">-->
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

<div style="" class="sidebar-container">
  <div style="margin-left: 87px;margin-top: 34px;" class="sidebar-logo">
    <img src="/assets/gieo.jpg" alt="">
  </div>
  <div style="margin-left: 30px;height: 150px;">
    <ul class="sidebar-navigation">


      <li style="margin-top: 180px;">
        <a href="/dashboard">
          <i class="fa fa-users" aria-hidden="true"></i> Transactions
        </a>
      </li>
      <li>
        <a href="/history">
          <i class="fa fa-cog" aria-hidden="true"></i> History
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Profile
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- main-content -->
    <div  style="margin-left: 140px;"><h3>Transactions</h3>
      <div style="display: flex; background-color: rgba(111, 108, 153, 0.5);border-radius: 25px;height: 42px; margin-left: 10px;font-size: large;align-items: center;margin-top: 40px;  " class="upper-box">
        <p> &nbsp; &nbsp; Order no.</p> &nbsp; <p>Category Purchase</p> <p style="margin-left: 700px;">Date</p>
      </div>
      <div style="background-color: #fff; display: flex;margin-top: -10px;">
        <img src="/assets/images/o1.jpg" alt="" style="height: 174px;">
        <h5 style="margin-top: 50px; margin-left: 10px">200ml Hairloss oil </h5>

        <h6 style="margin-left: -112px;margin-top: 70px;"><br>AMAZON</h6>
        <div><svg style="margin-left: 850px;margin-top: 57px;height: 20px;width: 52px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></div>
        <div style="margin-left: -971px" class="col-lg-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div style="height: 1px;" class="input-group">
        <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="" >
              <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>
            <input style="height: 30px" type="text" id="quantity" name="quantity" class="form-control input-number" min="1" max="100">
            <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" >
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>


          </div>

        </div>

      </div>
      <br>
      <div style="background-color: #fff; display: flex;margin-top: -10px;">
        <img src="/assets/images/o1.jpg" alt="" style="height: 174px;">
        <h5 style="margin-top: 50px; margin-left: 10px">200ml Hairloss oil </h5>

        <h6 style="margin-left: -112px;margin-top: 70px;"><br>AMAZON</h6>
        <div><svg style="margin-left: 850px;margin-top: 57px;height: 20px;width: 52px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></div>
        <div style="margin-left: -971px" class="col-lg-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="input-group">
        <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>
            <input style="height: 30px" type="text" id="quantity" name="quantity" class="form-control input-number"  min="1" max="100">
            <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" >
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>


          </div>

        </div>

      </div>
      <br>
      <div style="background-color: #fff; display: flex;margin-top: -10px;">
        <img src="/assets/images/o1.jpg" alt="" style="height: 174px;">
        <h5 style="margin-top: 50px; margin-left: 10px">200ml Hairloss oil </h5>

        <h6 style="margin-left: -112px;margin-top: 70px;"><br>AMAZON</h6>
        <div><svg style="margin-left: 850px;margin-top: 57px;height: 20px;width: 52px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></div>
        <div style="margin-left: -971px" class="col-lg-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="input-group">
        <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="" >
              <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>
            <input style="height: 30px" type="text" id="quantity" name="quantity" class="form-control input-number" min="1" max="100">
            <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" >
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>


          </div>

        </div>

      </div>
      <button style="margin-left: 1050px" type="button" class="btn btn-primary">PayBill</button>
      <br>
      <div style="display: flex; background-color: rgba(111, 108, 153, 0.5);border-radius: 25px;height: 42px; margin-left: 10px;font-size: large;align-items: center;margin-top: 40px;  " class="upper-box">
        <p> &nbsp; &nbsp; Order no.</p> &nbsp; <p>Category Purchase</p> <p style="margin-left: 700px;">Date</p>
      </div>
      <div style="background-color: #fff; display: flex;margin-top: -10px;">
        <img src="/assets/images/o1.jpg" alt="" style="height: 174px;">
        <h5 style="margin-top: 50px; margin-left: 10px">200ml Hairloss oil </h5>

        <h6 style="margin-left: -112px;margin-top: 70px;"><br>AMAZON</h6>
        <div><svg style="margin-left: 850px;margin-top: 57px;height: 20px;width: 52px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></div>
        <div style="margin-left: -971px" class="col-lg-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="input-group">
        <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="" >
              <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>
            <input style="height: 30px" type="text" id="quantity" name="quantity" class="form-control input-number"  min="1" max="100">
            <span class="input-group-btn">
            <button style="height: 30px" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" >
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>


          </div>

        </div>

      </div>
      <button style="margin-left: 1050px" type="button" class="btn btn-primary">PayBill</button>
    </div>

  </div>
</div>
