<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="../../assets/img-01.png" alt="IMG">
      </div>


      <span class="login100-form-title">
        Member Register
      </span>

      <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="Email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>

      <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name="phone" placeholder="phone">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="pass" placeholder="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
      </div>


      <select class="dropdown-select">
        <option value="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Select Location</option>
        <option value="location-1">Location 1</option>
        <option value="location-2">Location 2</option>
        <option value="location-3">Location 3</option>
      </select>



      <div style="margin-top: 2px;" class="container-login100-form-btn">
        <button class="login100-form-btn">
          Create Account
        </button>
      </div>




      <div class="text-center p-t-136">
        <a class="txt2" href="#">
          Create your Account
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
      </div>
      <!--      </form>-->
    </div>
  </div>
</div>
